
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Alegreya Sans', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Ubuntu Condensed', sans-serif;
}
p{
	margin:0;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing:1px;
	color:#999;
	line-height:1.8em;
	font-size:1em;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- header --*/

/*-- //header --*/
/*-- banner-text --*/
.agileits-banner-info {
    text-align: center;
    width: 80%;
    padding: 18em 0 0;
    margin: 0 auto;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 5em;
    letter-spacing: 7px;
    margin:.3em 0 .8em;
}
.agileits-banner-info h4 {
    color:#f8ce06;
    font-size: 2em;
    letter-spacing: 2px;
}
.agileits-banner-info p {
    font-size: .9em;
    color: #e0dede;
    letter-spacing: 3px;
    text-decoration: underline;
}
.w3layouts-posi-1, .w3layouts-posi-2, .w3layouts-posi-3, .w3layouts-posi-4 {
    position: relative;
}
.w3layouts-posi-1:before, .w3layouts-posi-1:after, .w3layouts-posi-2:before, .w3layouts-posi-2:after, .w3layouts-posi-3:before, .w3layouts-posi-3:after, .w3layouts-posi-4:before, .w3layouts-posi-4:after{
    content: " ";
    background: #14cdf5;
    position: absolute;
}
.w3layouts-posi-1:before {
    top: -35px;
    left: 156px;
}
.w3layouts-posi-1:after {
    top: -35px;
    left: 163px;
}
.w3layouts-posi-1:before, .w3layouts-posi-2:before,.w3layouts-posi-3:before, .w3layouts-posi-4:before  {
    width: 7px;
    height: 67px;
}
.w3layouts-posi-1:after, .w3layouts-posi-2:after, .w3layouts-posi-3:after, .w3layouts-posi-4:after {
    width: 67px;
    height: 7px;
}
.w3layouts-posi-2:before {
    top: -35px;
    right:196px;
}
.w3layouts-posi-2:after {
    top: -35px;
    right: 203px;
}
.w3layouts-posi-3:before {
    top: 50px;
    left: 164px;
}
.w3layouts-posi-3:after {
    top: 110px;
    left: 171px;
}
.w3layouts-posi-4:before {
    top: 50px;
    right: 191px;
}
.w3layouts-posi-4:after {
    top: 110px;
    right: 198px;
}
.thim-click-to-bottom {
    position: absolute;
    bottom: 10%;
    left: 48%;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    z-index: 99;
}
.thim-click-to-bottom i {
    color: #f8ce06;
    padding: 1em .6em;
    border: 2px dotted #fff;
    border-radius: 20px;
    font-size: 1.5em;
    margin-left: .5em;
}
@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
h5.w3l-posi{
    display: block;
    transform: rotate(-90deg);
    font-size: 1.1em;
    position: absolute;
    top: 47%;
    left: -3%;
    letter-spacing: 4px;
    color: #fff;
    font-weight: 500;
}
h5.w3l-posi span {
    color: #31bdfd;
    background: #fff;
    padding: .5em .8em;
    text-transform: lowercase;
}
/*-- //animate-icon --*/
/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	min-height:770px;
}
.w3layouts-banner-top.t2{
    background: url(../images/1.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	min-height:770px;
}
.w3layouts-banner-top.t3{
    background: url(../images/3.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	min-height:770px;
}
/*-- //banner-top --*/
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background: url(../images/left.png) no-repeat 0px 0px;
    left: -58px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display:block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 90%;
    left: 8%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li {
    display:inline-block;
    margin: 0px 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:13px;
    width:13px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    background:#f8ce06;
}
/*-- //slider --*/
/*-- nav --*/
.header {
    background: #000;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
    padding: 2em 5em;
	float: left;
}
.navbar-brand {
    padding: 0;
    font-size: 1.2em;
    margin: 0;
	float: left;
}
.navbar-brand span {
    margin-right: .2em;
    color: #14cdf5;
    text-transform: capitalize;
    transform: rotate(-150deg);
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    display: inline-block;
    font-size: 1.5em;
    background: #fff;
    padding:.3em .1em;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#f8945b;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color:#fff;
	font-family: 'Alegreya Sans', sans-serif;
}
.navbar-collapse {
    padding: 0;
    border-top: none;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    margin-top: 1em;
}
.navbar-right {
    float: left !important;
}
.navbar-nav {
	margin:0 0 0 7em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#f8945b;
}
.nav > li > a,.agile_short_dropdown li a {
	font-family: 'Varela Round', sans-serif;
}
.w3_agile_login{
	float:right;
}
.w3_agile_login a i{
	padding: .5em .7em;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active.open > a{
	color: #1bd6f2;
}
.agile_short_dropdown li a {
    padding: 8px 20px;
    color: #212121;
    text-align: center;
}
.agile_short_dropdown li a:before{
	content:'';
	display:none;
}
.cl-effect-6 a {
	margin: 0 12px;
	padding: 10px 20px;
}
.cl-effect-6 a::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
}

.cl-effect-6 a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cl-effect-6 a:hover::before {
	top: 100%;
	opacity: 1;
}

.cl-effect-6 a:hover::after {
	height: 100%;
}
nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.1em;
}

nav a:hover,
nav a:focus {
	outline: none;
	color: #f8945b;
}
ul.navbar-nav li.active{
	color: #f8945b;
}
ul.navbar-nav li.active a:before {
    top: 100%;
    opacity: 1;
}
ul.navbar-nav li.active a:after {
    width: 2px;
    background: #fff;
    height: 100%;
}
.w3l-phone {
    float: left;
    margin-left: 5em;
    padding: 1.3em 0;
}
.w3l-phone img {
    float: left;
    width: 36%;
}
.w3l-sub-right {
    float: right;
    vertical-align: middle;
    margin-top: 1.5em;
}
.w3l-sub-right p {
    font-size: 1.2em;
    color: #fff;
}
/*-- //nav --*/

/*-- About --*/
.content-agileits, .w3l-news-content, .team, .contact, .gallery, .pricing-plans, .feedback{
    padding: 6em 0;
}
h3.w3_tittle {
    font-size: 3.5em;
    color: #f8ce06;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    font-style: italic;
}
.wel-grid h4 {
    font-size: 2em;
    color: #111;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 0.5em;
}
.wel-grid p {
    padding-top: 1em;
}
/*-- effect-7 css --*/
.text-desc{
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(246, 113, 38, 0.63);
	height: 100%;
	opacity: 0;
	width: 100%;
	padding: 20px;
}
.port-7{
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.9);
    overflow: hidden;
    box-shadow: 0px 0px 12px 0px #969696;
}
.port-7 .text-desc{
	opacity: 0;
	transition: 0.5s;
	color: #000;
}
.port-7.effect-2 img{
	transition: 0.5s;
	position: relative;
	width: 100%;
	top: 0;
}
.port-7.effect-2:hover img{
	top: 50%;
}
.port-7.effect-2 .text-desc {
    transform: perspective(600px) rotateX(90deg);
    transform-origin: top center 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 40%;
    padding: 2.5em;
}
.port-7.effect-2:hover .text-desc{
	opacity: 1;
	transform: perspective(600px) rotateX(0deg);
	z-index: 99;
}
.text-desc h4 {
    color: #fff;
    font-size: 1.8em;
    margin-bottom: 0.5em;
	letter-spacing:3px;
	font-size:1.8em;
	text-transform:uppercase;
}
.text-desc p {
    font-size: .8em;
    color: #ece7e7;
    letter-spacing: 2px;
}
.right-sign-grid {
    text-align: right;
}
.right-sign-grid img {
    width: 35%;
}
.right-sign-grid h5 {
    font-size: 2em;
    letter-spacing: 1px;
    text-shadow: #373738 0 3px 5px;
}
/*-- //About--*/
/*-- services --*/
.services {
    background: url(../images/bg4.jpg)no-repeat center;
    background-size: cover;
	padding: 8em 0;
}
h3.agileits-title.w3title2,h2.agileits-title.w3title2 {
    color: #fff;
}
.services-grids,.team-grids,.contact-grids{
    text-align: center;
}
.services-grids i.fa {
    font-size: 2.5em;
    color: #14cdf5;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.services-grids h4 {
    color: #ffffff;
    font-size: 2em;
    margin: 0.8em 0 .5em;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.services p {
    color: #fff;
    letter-spacing: 1px;
}
.services-grids:hover i.fa {
    color: #f8ce06;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
    transform: scale(0.8);
}
.services-grids:hover h4 {
    color:#14cdf5;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
/*-- //services --*/
.response h3 {
    font-size: 2em;
    color: #000;
}
.media-left.response-text-left a img {
    width: 100%;
}
.media:nth-child(2) {
    margin: 2em 0;
}
.media-left.response-text-left {
    float: left;
    width: 44%;
    padding: 0;
}
.media-body.response-text-right {
    float: right;
	width: 52%;
}
.media-body.response-text-right h5 {
    font-size: 1.7em;
    color: #000;
    letter-spacing: 1px;
    padding-bottom: .5em;
    text-transform: capitalize;
}
.media-body.response-text-right ul li {
    list-style: none;
    display: inline-block;
    color: #afadad;
    font-size: 0.9em;
    letter-spacing: 1px;
	margin-bottom:1.4em;
}
.media-body.response-text-right ul li i {
    color: #000;
    padding-right: .5em;
}
.media-body.response-text-right ul li:nth-child(2){
    margin-left: 1em;
}
.media-body.response-text-right p {
    font-size: .9em;
}
a.view.resw3 {
    font-size: 1em;
    background: none;
    color: #14cdf5;
    margin: 1.3em 0 0;
    display: inherit;
}
a.view.resw3:hover {
    color: #f8ce06;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.media.response-info.m2 {
    margin-top: 3em;
}
/*-- model --*/
.modal-header img {
    width: 100%;
}
.modal-header h4{
	color: #111;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}
.modal-header h5 {
    color: #f8ce06;
    font-size: 1.4em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0.3em 0 1em;
}
.modal-header span {
    color: #777;
    letter-spacing: 1px;
    line-height: 33px;
    padding-bottom: 16px;
	display:inline-block;
	margin-top:1em;
}
.modal-header img{
    float: left;
    width: 100%;
}
/*-- //model --*/
.wthree_events_grid_right {
    position: relative;
    background: url(../images/bg3.jpg) no-repeat 0px 0px;
    min-height:540px;
    padding: 3em;
}
.wthree_events_grid_right1 {
    padding: 4em 3em;
    background: rgba(12, 12, 12, 0.5);
    height: 455px;
    text-align: center;
}
.wthree_events_grid_right1 h3 {
    font-size: 2.4em;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.wthree_events_grid_right1 p {
    font-size: 1.1em;
    color: #eaeaea;
    margin: 2em 0 4em;
    letter-spacing: 2px;
}
.w3layouts_newsletter_right input[type="email"] {
    outline: none;
    border: 7px double #2196F3;
    padding: 10px;
    background: #fff;
    color: #000;
    font-size: 1em;
    width: 100%;
}
.w3layouts_newsletter_right input[type="submit"] {
    outline: none;
    padding: .9em 2.5em;
    background: #14cdf5;
    border: none;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
    margin: 2em 0;
}
.w3layouts_newsletter_right input[type="submit"]:hover{
	background:#fff;
	color:#212121;
}
/*-- //News --*/

/* Styles for dialog window */
.pop_up{
		border: 7px solid#485460;
}
#small-dialog,#small-dialog1,#small-dialog2,#small-dialog3,#small-dialog4,#small-dialog5{
	background: white;
	padding:20px;
	text-align: left;
	max-width: 700px;
	margin: 40px auto;
	position: relative;
	text-align:center;
	border: 9px solid#eee;
}
/*Pricing table and price blocks*/
/*----*/
.pricing-grid1,.pricing-grid2,.pricing-grid3 {
	width: 31.5%;
	float: left;
	text-align: center;
	margin-right: 2%;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	padding: 0;
	border: none;
	border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	-o-border-radius: 0.7em;
	-moz-border-radius: 0.7em;
}
.pricing-grid3{
 	margin-right: 0;
}
.pricing-grid1:hover,.pricing-grid2:hover,.pricing-grid3:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	z-index: 1;
	border: none;
}
.pricing-grid1:nth-child(3){
	margin-right:0;
}
.price-value h3 a,.price-value.two h3 a,.price-value.three h3 a{
	font-size: 2.5em;
	color:#fff;
}
.price-value,.price-value.two,.price-value.three {
	background: #512884;
	padding: 2.8em 1.8em 2em;
	border-bottom:2px solid#ffd500;
}
.price-value.two{
	background:#2b2b33;
	border-bottom:2px solid#14cdf5;
}
.price-value.three {
	background: #04dbdd;
	border-bottom:2px solid#028f87;
}
.price-value ul,.pricing-grid1 ul,.pricing-grid2 ul,.pricing-grid3 ul{
	padding: 0;
}
.price-value ul li,.pricing-grid1,.pricing-grid2 ul li,.pricing-grid3 ul li {
	list-style: none;
}
.price-value ul li{
	list-style: none;
}
.price-value  h5{
	color: #fbd707;
	font-size: 19px;
}
.price-value.two h5{
	color:#14cdf5;
}
.price-value.three h5{
	color: #018f90;
}
.price-value h5 {
	padding: 11px 0;
}
.pricing-grid1 ul li a,.pricing-grid2 ul li a,.pricing-grid3 ul li a{
	color: #C7C4C4;
	font-size: 15px;
	text-align: center;
	display: block;
	padding: 16px 0;
	text-decoration: none;
	font-weight: 400;
}
.pricing-grid1 ul li.whyt a,.pricing-grid2 ul li.whyt a,.pricing-grid3 ul li.whyt a{
	background:#f4f4f4;
}
.pricing-grid1:hover div.price-bg ul li a{
	color:#512884;
}
.pricing-grid2:hover div.price-bg ul li a{
	color:#14cdf5;
}
.pricing-grid3:hover div.price-bg ul li a{
	color:#04dbdd;
}
.price-bg {
	background: #fff;
}
.price-bg ul {
	padding: 0;
}
.price-bg ul li{
	list-style: none;
}
.cart1,.cart2,.cart3{
	padding: 2.7em 0em 2.7em;
	display: block;
	border-bottom: 2px solid#ffd500;
}
.cart2{
	border-bottom: 2px solid#f96d70;
}
.cart3{
	border-bottom: 2px solid#04dbdd;
}
.cart1 a,.cart2 a,.cart3 a{
	color: #FFF;
	font-size: 0.9em;
	font-weight: 500;
	padding: 0.8em 2em;
	text-decoration: none;
	background: #f7d30b;
	text-transform:uppercase;
	-webkit-appearance:none;
	outline: none;
}
.cart2 a{
	background:#14cdf5;
}
.cart3 a{
	background: #04dbdd;
}
.cart1 a:hover,.cart2 a:hover,.cart3 a:hover{
	color: #2b2b33;
}
/*----*/
/*---start-pricing-tabels-----*/
.payment-online-form-left{
}
form li {
list-style: none;
}
form ul {
 padding:0;
}
.payment-online-form-left h4{
	font-size: 1.8em;
	color: #222222;
	padding: 0.5em 0;
	text-align: left;
}
.payment-online-form-left span{
	vertical-align:sub;
	margin-right: 5px;
}
.payment-online-form-left form{
	padding:2em;
}
.payment-online-form-left input[type="text"], .payment-online-form-left input[type="email"]{
	padding: 1em 1em;
	color: #485460;
	width: 47%;
	margin: 0.5em 0;
	border: 1px solid;
	outline: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	float: left;
	font-size: 0.9em;
	border-color: #EEE;
	-webkit-appearance:none;
}
.payment-online-form-left input[type="text"]:hover, .payment-online-form-left textarea:hover, .payment-online-form-left input[type="email"]:hover{
	border-color:#14cdf5;
}
.payment-online-form-left textarea {
    width: 98.5%;
    height: 150px;
    margin: 6px 0;
    padding: 10px;
	color: #485460;
	outline: none;
	border: 1px solid;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	font-size: 0.9em;
	border-color: #EEE;
}
.payment-online-form-left ul li:first-child input[type="text"], .payment-online-form-left ul li input[type="email"]{
	margin-right: 5%;
}
.payment-online-form-left  input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
	border-color:#14cdf5 ;
	color:#14cdf5;
}

.payment-sendbtns {
    float: right;
    margin: 1.4em 0;
}

.payment-sendbtns input[type="reset"] {
	background: #14cdf5;
	padding: 8px 50px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
	display: block;
	/*-- w3layouts --*/
	/*-- agileits --*/
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline: none;
}

.payment-sendbtns input[type="reset"]:hover {
	color: #FFF;
	background:#f8ce06;
}

.payment-sendbtns input[type="submit"] {
    background: #000;
	padding: 8px 20px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	display: block;
	/*-- w3layouts --*/
	/*-- agileits --*/
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-appearance: none;
	outline: none;
	text-decoration: none;
}

.payment-sendbtns input[type="submit"]:hover {
	color: #fff;
	background: #f8ce06;
}

.payment-sendbtns li {
	display: inline-block;
}


/* start state */
.my-mfp-zoom-in #small-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}

/**
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
 }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	border: 0;
	background:#EEEEEE;
	-webkit-appearance: none;
	display: block;
	/*-- w3layouts --*/
	/*-- agileits --*/
	padding: 0;
	z-index: 1046;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.mfp-close {
	width: 32px;
	height: 32px;
	line-height: 1;
	position: absolute;
	right: 0;
	top: -32px;
	/*-- wthree --*/
	/*-- agileits --*/
	text-decoration: none;
	text-align: center;
	padding: 0 0 18px 10px;
	color: white;
	font-style: normal;
	font-size: 28px;
	outline: none;
	left: 96.7%;
}

.mfp-close:hover, .mfp-close:focus {
	opacity: 1;
}

.mfp-close-btn-in .mfp-close {
	color: #333333;
	padding: 0;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	/*-- w3layouts --*/
	/*-- agileits --*/
	padding-right: 6px;
	width: 100%;
}
.image-top img{
	width:100%;
}
.image-top p{
	text-align: justify;
	padding:2% 0;
	font-size:15px;
}
.image-top h3 {
	font-size: 1.5em;
	font-weight: 500;
	margin: 16px 0px 0px 0px;
	color:#3F4244;
}
.center-container {
    background: rgba(0, 0, 0, 0.44);
}

/*-- team --*/
.agileinfo-team-grid{
	position:relative;
	overflow: hidden;
}
.agileinfo-team-grid {
    padding: 0 .2em;
}
.agileinfo-team-grid img{
	width:100%;
}
.captn {
    background: rgba(33, 150, 243, 0.4);
    padding: 1em;
    position: absolute;
    border: solid 1px #FFF;
    left: 10%;
    bottom: -100%;
    text-align: center;
    width: 150px;
    height: 109px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.captn h4 {
    font-size: 1.5em;
    color: #fff;
}
.agileinfo-team-grid:hover .captn{
    bottom:18%;
}
.w3l-social {
    margin: 1em 0 0 0;
}
.w3l-social ul{
	padding:0;
	margin:0;
}
.w3l-social ul li{
	display:inline-block;
}
.w3l-social ul li a {
	color: #333;
    text-align: center;
}
.w3l-social ul li a i.fa.fa-facebook {
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    line-height: 2.2;
    color: #3b5998;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3l-social ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-twitter{
	 height: 30px;
    width: 30px;
    background: #FFFFFF;
    line-height: 2.2;
    color: #1da1f2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3l-social ul li a i.fa.fa-twitter:hover{
	background: #1da1f2;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-rss{
	 height: 30px;
    width: 30px;
    background: #FFFFFF;
    line-height: 2.2;
    color: #f26522;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3l-social ul li a i.fa.fa-rss:hover{
	background: #f26522;
	color: #FFFFFF;
}
.team-grids:nth-child(2) {
    padding: .3em 0;
}
/*-- //team --*/
/*-- feedback --*/
.feedback_dot,.choose-dot{
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 3px;
    -webkit-background-size: 3px;
    -moz-background-size: 3px;
    -o-background-size: 3px;
    -ms-background-size: 3px;
}
.feedback{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.feedback-top{
	padding: 1em;
    background: rgba(0, 0, 0, 0.64);
    position: relative;
}
.feedback-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 14%;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(0, 0, 0, 0.64);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    transform: rotate(0deg);
}
.feedback-top p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.feedback-img{
    float: left;
    width: 28%;
}
.feedback-grids {
    margin: 2em 0 0;
    border-top: 2px solid #fff;
    padding-top: 2em;
}
.feedback-img img{
	width:100%;
}
.feedback-info {
    margin: 1em !important;
}
.feedback-img-info {
    float: left;
    width: 65%;
    margin: 1.5em 0 0 1em;
}
.feedback-img-info h5 {
    color: #f8ce06;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.feedback-img-info p {
    color: #ffffff;
    font-size: .9em;
    padding-top: .5em;
}
.icon-w3l i {
    font-size: 3em;
    color: #14cdf5;
    margin-left: .4em;
	position:relative;
}
.icon-w3l {
   position:relative;
}
.icon-w3l:before {
    content: " ";
    position: absolute;
    background: #14cdf5;
    width: 77%;
    height: 4%;
    top: 54%;
    right: 5%;
}

/*-- //feedback --*/
.da-thumbs {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.da-thumbs li {
    float: left;
    margin: 0.4%;
    padding: 3px;
    position: relative;
    width: 32.4%;
}
.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
  width: 100%;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a {
    background: rgba(17, 17, 17, 0.79);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.da-thumbs li a:hover img {
    opacity: 0.5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.da-thumbs li a div h5 {
    color: #fff;
    font-size: 1.7em;
    text-align: center;
    padding: .4em 0;
    letter-spacing: 1px;
    background: #14cdf5;
	text-decoration:none !important;
}
/*-- Contact --*/
.contact {
    background: url(../images/bg4.jpg)no-repeat center;
    background-size: cover;
}
.contact-grid1 input[type="text"], .contact-grid1 input[type="email"],.contact-grid1 textarea{
	width: 66%;
    padding: 1em;
    font-size: 1em;
    border: 1px solid #000;
	outline: none;
	letter-spacing:1px;
	margin-bottom: 2em;
}
.contact-grid1 input[type="text"], .contact-grid1 input[type="email"] {
    float: left;
    width: 32%;
}
.contact-grid1 input[type="text"]:nth-child(3) {
    margin: 0 1.5em;
}
.contact-grid1 textarea{
	height:210px;
	resize:none;
}
.contact-grid1 input[type="submit"] {
    font-size: 1.1em;
    outline: none;
    border: none;
    text-transform: uppercase;
    background: #14cdf5;
    padding: .9em 4em;
    letter-spacing: 1px;
    color: #fff;
    margin: 1em 0 0;
    transition: 0.5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.contact-grid1 input[type="submit"]:hover{
	background:#f8ce06;
	 -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.grid-w3l {
    float: right;
    width: 32%;
}
.grid-w3l p i {
    color: #14cdf5;
    font-size: 1.3em;
    padding-right: 1em;
}
.grid-w3l p {
    color: #fff;
    margin: 2em 0;
}
.grid-w3l h4 {
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.7;
	color: #f8ce06;
}
/*-- contact address --*/
.contact-w3lsleft.map {
    padding: 0;
}
.address-row {
    margin-top: 4em;
}
.contact-row {
    padding: 6em 0;
    background: rgba(246, 113, 38, 0.12);
}
.contact-w3lsright h6 {
    font-size: 1.8em;
    color: #848484;
    font-weight: 300;
    line-height: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.contact-w3lsright h6 span {
    color: #02bbd2;
}
.address-left {
    padding: 0;
    text-align: center;
}
.address-right {
    padding-left: 2em;
}
.address-row span.glyphicon {
    font-size: 1.2em;
    border: 2px solid #000;
    padding: 1em 1em;
    color: #000;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
    transition: .5s all;
}
.address-row:hover span.glyphicon {
    border-color:#14cdf5;
	color:#14cdf5;
	-webkit-transform: rotatey(360deg);
	-moz-transform: rotatey(360deg);
    transform: rotatey(360deg);
	-o-transform: rotatey(360deg);
	-ms-transform: rotatey(360deg);
}
.address-row h5 {
    font-size: 1.4em;
    color: #000;
    margin-bottom: .4em;
    font-weight: 300;
}
.address-row p a {
    color:#14cdf5;
}
.address-row p a:hover{
    color: #999;
}
.map iframe {
    width: 100%;
    min-height: 400px;
    border: none;
}
.col-xs-4.address-row p:nth-child(2) {
    padding: .3em 0;
}
/*-- //contact address --*/
/*-- //Contact --*/
/*-- footer --*/
.footer {
    background: #232323;
	text-align: center;
	padding: 4em 0;
}
.logo-fo h2 a {
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 2px;
    font-style: italic;
}
/*-- social-icons --*/
.w3l_header_left-2 {
    text-align: right;
    margin-top: 2em;
}
.w3ls-social-icons-2 i {
    font-size: 1em;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 3.5;
    margin: 0 0.5em 0;
    border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    border:  1px solid #616161;
}
.w3ls-social-icons-2 i:hover {
	background: #f8ce06;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
	border-color:#fff;
}
/*-- //social-icons --*/
.copyrights {
    text-align: center;
    padding: 2em 0 2.3em;
    background: #1f1f1f;
    border-top: 2px dotted #fff;
}
.copyrights p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 1em;
}
.copyrights p a {
    color: #14cdf5;
}
.copyrights p a:hover {
    color: #fff;
}
.logo-fo {
    float: left;
    width: 33%;
}
.copy-w3l {
    float: left;
}
.copyrights p {
    padding-top: 1em;
}
.copyrights p span {
    font-size: 1.2em;
    font-weight: 600;
}
/*-- //footer --*/
/*-- slider-up-arrow --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 6%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/move-up.png") no-repeat 0px 0px;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-o-transform: scale(0.85);
	-ms-transform: scale(0.85);
    transform: scale(0.85);
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
#toTop:hover {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(1);
}
/*-- //slider-up-arrow --*/
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1600px){

}
@media(max-width: 1440px){
	.agileits-banner-info {
		padding: 16em 0 0;
	}
	.w3l-phone {
		margin-left: 1em;
	}
	.navbar-nav {
		margin: 0 0 0 6em;
	}
}
@media(max-width: 1366px){
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 700px;
	}
	.agileits-banner-info {
		padding: 14em 0 0;
	}
	.w3l-phone {
		margin-left: 0em;
	}
	.navbar-nav {
		margin: 0 0 0 4em;
	}
	.wthree_events_grid_right {
		min-height: 527px;
		padding: 2.5em;
	}
}
@media(max-width: 1280px){
	.agileits-banner-info {
		padding: 13em 0 0;
		width: 90%;
	}
	.navbar-nav {
		margin: 0 0 0 2.5em;
	}
	.navbar {
		padding: 2em 2em;
	}
}
@media(max-width: 1080px){
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 600px;
	}
	.agileits-banner-info h3 {
		font-size: 4.4em;
	}
	.agileits-banner-info h4 {
		font-size: 1.7em;
	}
	.agileits-banner-info {
		padding: 11em 0 0;
		width: 100%;
	}
	.w3layouts-posi-1:after, .w3layouts-posi-2:before, .w3layouts-posi-2:after, .w3layouts-posi-1:before{
		top: -55px;
	}
	.navbar {
		padding: 2em 1em;
	}
	.navbar-nav {
		margin: 0 0 0 1em;
	}
	.cl-effect-6 a {
		margin: 0 6px;
	}
	.nav > li > a {
		padding: 10px 11px;
	}
	.content-agileits, .w3l-news-content, .team, .contact, .gallery, .pricing-plans, .feedback {
		padding: 5em 0;
	}
	.media-body.response-text-right h5 {
		font-size: 1.6em;
	}
	.wthree_events_grid_right {
		min-height: 500px;
		padding: 2em;
	}
	.captn {
		left: 9%;
		width: 129px;
		height: 103px;
	}
	.contact-grid1 input[type="text"], .contact-grid1 input[type="email"] {
		float: left;
		width: 31%;
	}
}
@media(max-width: 1050px){
	.nav > li > a {
		padding: 10px 15px;
	}
	.cl-effect-6 a {
		margin: 0 12px;
	}
	.w3l-phone {
		margin-left: 32em;
		padding: 0 0 .8em;
	}
	h3.w3_tittle {
		font-size: 3.3em;
		margin-bottom: 1em;
	}
}
@media(max-width: 1024px){
	.w3l-phone {
		margin-left: 30em;
	}
	.address-row {
		margin-top: 2em;
	}
}
@media(max-width: 991px){
	.navbar-nav {
		margin: 0 0 0 1em;
	}
	.w3l-phone {
		margin-left: 28em;
	}
	.text-desc h4 {
		font-size: 3em;
		margin: .7em 0 .5em;
	}
	.wel-grid {
		margin-top: 3em;
	}
	.services-grids h4 {
		font-size: 1.8em;
	}
	.services {
		padding: 6em 0;
	}
	.media-body.response-text-right h5 {
		font-size: 2em;
		padding-bottom: .8em;
	}
	.media-body.response-text-right ul li {
		font-size: 1em;
	}
	.media-body.response-text-right p {
		font-size: 1em;
	}
	a.view.resw3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.price-value h3 a, .price-value.two h3 a, .price-value.three h3 a {
		font-size: 2em;
	}
	.price-value h5 {
		font-size: 17px;
	}
	.price-value, .price-value.two, .price-value.three {
		padding: 2em 1.5em 1.8em;
	}
	.agileinfo-team-grid {
		float: left;
		width: 33%;
	}
	.agileinfo-team-grid:nth-child(4), .agileinfo-team-grid:nth-child(5), .agileinfo-team-grid:nth-child(6), .agileinfo-team-grid:nth-child(10), .agileinfo-team-grid:nth-child(11), .agileinfo-team-grid:nth-child(12) {
		margin-top:.5em;
	}
	.captn {
		left: 10%;
		width: 190px;
		height: 120px;
	}
	.captn h4 {
		margin: .5em 0 .7em;
	}
	.agileinfo-team-grid:hover .captn {
		bottom: 24%;
	}
	.icon-w3l:before {
		width: 65%;
		right: 7.5%;
	}
	.grid-w3l h4 {
		font-size: 1.2em;
	}
	.grid-w3l p {
		margin: 1.7em 0;
	}
	.da-thumbs li a div h5 {
		font-size: 1.5em;
	}
	.map iframe {
		min-height: 350px;
	}
	.address-row span.glyphicon {
		padding: .8em .8em;
	}
	.agileits-banner-info h3 {
		font-size: 3.7em;
	}
	.agileits-banner-info h4 {
		font-size: 1.6em;
	}
	.wthree_events_grid_right {
		width: 85%;
		margin:3em auto 0;
	}
}
@media(max-width: 900px){
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 540px;
	}
	.agileits-banner-info h3 {
		font-size: 3.4em;
		letter-spacing: 5px;
	}
	.agileits-banner-info h4 {
		font-size: 1.4em;
	}
	.agileits-banner-info {
		padding: 9em 0 0;
	}
	.w3layouts-posi-1:before {
		left: 114px;
	}
	.w3layouts-posi-1:after {
		left:121px;
	}
	.w3layouts-posi-2:before {
		right: 156px;
	}
	.w3layouts-posi-2:after {
		right: 163px;
	}
	.w3layouts-posi-3:before {
		left: 121px;
	}
	.w3layouts-posi-3:after {
	   left: 128px;
	}
	.w3layouts-posi-4:before {
		right: 156px;
	}
	.w3layouts-posi-4:after {
		right: 163px;
	}
	.nav > li > a {
		padding: 10px 13px;
		margin: 0 7px;
	}
	.w3l-phone {
		margin-left: 24em;
	}
	.logo-fo {
		width: 26%;
	}
	.da-thumbs li {
		width: 32.3%;
	}
	.mfp-close {
		left: 96%;
	}
}
@media(max-width: 800px){
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 500px;
	}
	.navbar-brand {
		padding: 0;
		font-size: 1em;
	}
	.thim-click-to-bottom {
		left: 47%;
	}
	.navbar-brand span {
		font-size: 1.3em;
	}
	.nav > li > a {
		padding: 10px 10px;
		margin: 0 5px;
	}
	.w3l-phone {
		margin-left: 21em;
	}
	.content-agileits, .w3l-news-content, .team, .contact, .gallery, .pricing-plans, .feedback {
		padding: 4em 0;
	}
	h3.w3_tittle {
		font-size: 3em;
	}
	.logo-fo h2 a {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.contact-grid1 textarea {
		height: 180px;
	}
	.logo-fo {
		width: 34%;
	}
	p.w3l-p-last {
		width: 100%;
		padding-top: 1em;
		float: left;
	}
	.grid-w3l p {
		margin: 1.2em 0;
	}
	.mfp-close {
		left: 95%;
	}
}
@media(max-width: 768px){
	nav a {
		font-size: 1em;
	}
}
@media(max-width: 767px){
	.w3l-phone {
		margin-left: 0em;
		margin-top: 1em;
	}
	.navbar {
		padding: 1.6em 1em 0 2em;
		width: 70%;
	}
	.navbar-toggle {
		margin: .6em 0 !important;
		border-radius: 0 !important;
		background: transparent !important;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #f8ce06;
	}
	.navbar-nav {
		margin: .5em 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin: 1em auto;
		width: 80%;
		text-align: center;
	}
	.nav > li > a {
		padding: 1.2em 0 .5em;
		margin: 1.2em 0;
	}
}
@media(max-width: 736px){
	.w3layouts-posi-1:before {
		left: 83px;
	}
	.w3layouts-posi-1:after {
		left: 90px;
	}
	.w3layouts-posi-3:before {
		left: 90px;
		top: 23px;
	}
	.w3layouts-posi-3:after {
		left: 97px;
		top: 83px;
	}
	.w3layouts-posi-2:before {
		right: 74px;
	}
	.w3layouts-posi-2:after {
		right: 81px;
	}
	.w3layouts-posi-4:before {
		right: 80px;
		top: 23px;
	}
	.w3layouts-posi-4:after {
		right: 87px;
		top: 83px;
	}
}
@media(max-width: 667px){
	.agileits-banner-info h3 {
		font-size: 3em;
		letter-spacing: 3px;
	}
	.agileits-banner-info h4 {
		font-size: 1.3em;
	}
	.navbar {
		width: 65%;
	}
	.services-grids:nth-child(3), .services-grids:nth-child(4) {
		margin-top: 2em;
	}
	.media-body.response-text-right h5 {
		padding-bottom: .5em;
	}
	a.view.resw3 {
		font-size: 1.1em;
		margin: 1em 0 0;
	}
	.pricing-grid1 ul li a, .pricing-grid2 ul li a, .pricing-grid3 ul li a {
		font-size: 14px;
		padding: 12px 0;
	}
	.cart1, .cart2, .cart3 {
		padding: 2.2em 0em 2.2em;
	}
	.captn {
		left: 11%;
		width: 160px;
	}
	.agileinfo-team-grid:hover .captn {
		bottom: 19%;
	}
	.grid-w3l p {
		margin: 1em 0;
		font-size: .9em;
	}
	.grid-w3l h4 {
		font-size: 1.1em;
	}
	.contact-grid1 input[type="text"], .contact-grid1 input[type="email"], .contact-grid1 textarea {
		padding: .8em;
	}
	.contact-grid1 textarea {
		height: 161px;
	}
	.contact-grid1 input[type="submit"] {
		font-size: 1em;
		padding: .8em 4em;
		margin: .5em 0 0;
	}
	.map iframe {
		min-height: 300px;
	}
	.contact-row {
		padding: 5em 0;
	}
	.address-row span.glyphicon {
		font-size: .9em;
	}
	.address-right {
		padding-left: 1em;
	}
	.address-row {
		margin-top: 1em;
	}
	.logo-fo {
		width: 30%;
	}
}
@media(max-width: 640px){
	.contact-grid1 input[type="text"]:nth-child(2) {
		margin: 0 1em;
	}
	#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
		max-width: 550px;
	}
	.mfp-close {
		left: 94%;
	}
}
@media(max-width: 600px){
	.agileits-banner-info h3 {
		font-size: 2.8em;
	}
	.agileits-banner-info p {
		letter-spacing: 2px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 450px;
	}
	.navbar {
		width: 100%;
	}
	.w3l-phone {
		margin-left: 14em;
		margin-top: 0em;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 100%;
	}
	.content-agileits, .w3l-news-content, .team, .contact, .gallery, .pricing-plans, .feedback {
		padding: 3em 0;
	}
	.text-desc h4 {
		font-size: 2em;
	}
	h3.w3_tittle {
		font-size: 2.8em;
	}
	.services {
		padding: 4em 0;
	}
	.media-body.response-text-right ul li {
		margin-bottom: .7em;
	}
	.media-body.response-text-right h5 {
		font-size: 1.6em;
		letter-spacing: 0px;
	}
	.wthree_events_grid_right1 p {
		margin: 1.5em 0 3em;
	}
	.wthree_events_grid_right1 {
		height: 373px;
	}
	.wthree_events_grid_right {
		min-height: 438px;
	}
	.pricing-grid1, .pricing-grid2, .pricing-grid3 {
		width: 76%;
		float: none;
		margin: 0 auto;
	}
	.pricing-grid2{
		margin:2em auto;
	}
	.agileinfo-team-grid:hover .captn {
		bottom: 15%;
	}
	.captn {
		width: 145px;
	}
	.address-row {
		width: 100%;
	}
	.address-row:nth-child(2) {
		margin:2em 0;
	}
	.address-row span.glyphicon {
		font-size: 1.2em;
		padding: 1em 1em;
	}
	.grid-w3l h4 {
		letter-spacing: 0.3px;
	}
	.logo-fo {
		width: 100%;
	}
	.copy-w3l {
		float: left;
		text-align: center;
		width: 100%;
		padding: .5em 0;
	}
}
@media(max-width: 568px){
	.agileits-banner-info h3 {
		font-size: 2.7em;
	}
	.agileits-banner-info h4 {
		font-size: 1.2em;
	}
	.contact-grid1 input[type="text"], .contact-grid1 input[type="email"], .contact-grid1 textarea {
		width: 100%;
		margin-bottom: 1em;
	}
	.contact-grid1 input[type="text"]:nth-child(2) {
		margin: 0 .5em;
	}
	.contact-grid1 input[type="text"], .contact-grid1 input[type="email"] {
		width: 32.4%;
	}
	.grid-w3l {
		width: 100%;
	}
	.contact-grid1 input[type="submit"] {
		margin: 1.5em 0 0;
	}
	.contact-row {
		padding: 4em 0;
	}
}
@media(max-width: 480px){
	.w3layouts-posi-1:before, .w3layouts-posi-2:before, .w3layouts-posi-3:before, .w3layouts-posi-4:before {
		width: 5px;
		height: 60px;
	}
	.w3layouts-posi-1:after, .w3layouts-posi-2:after, .w3layouts-posi-3:after, .w3layouts-posi-4:after {
		width: 60px;
		height: 5px;
	}
	.w3layouts-posi-1:before {
		left: 33px;
	}
	.w3layouts-posi-1:after {
		left: 38px;
	}
	.w3layouts-posi-2:before {
		right: 38px;
	}
	.w3layouts-posi-2:after {
		right: 43px;
	}
	.w3layouts-posi-3:before {
		left: 37px;
		top: 13px;
	}
	.w3layouts-posi-3:after {
		left: 42px;
		top: 68px;
	}
	.w3layouts-posi-4:before {
		right: 45px;
		top: 13px;
	}
	.w3layouts-posi-4:after {
		right: 50px;
		top: 68px;
	}
	.agileits-banner-info {
		padding: 8em 0 0;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
	.agileits-banner-info h4 {
		font-size: 1.1em;
	}
	.thim-click-to-bottom i {
		font-size: 1.2em;
	}
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
	.callbacks_tabs li {
		margin: 0px 6px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 420px;
	}
	.w3l-phone {
		margin-left: 10em;
	}
	h3.w3_tittle {
		font-size: 2.7em;
	}
	.port-7.effect-2 .text-desc {
		padding: 1em;
	}
	.wel-grid {
		margin-top: 2em;
	}
	.wel-grid h4 {
		font-size: 1.7em;
	}
	.wel-grid p {
		padding-top: .6em;
	}
	.media-body.response-text-right ul li {
		font-size: .9em;
		letter-spacing: 0.5px;
	}
	.media-body.response-text-right p {
		font-size: .9em;
	}
	a.view.resw3 {
		font-size: 1em;
		margin: .8em 0 0;
	}
	.wthree_events_grid_right1 {
		padding: 3em 2em;
	}
	.agileinfo-team-grid {
		float: left;
		width: 50%;
	}
	.captn {
		left: 18%;
	}
	.agileinfo-team-grid:hover .captn {
		bottom: 21%;
	}
	.agileinfo-team-grid:nth-child(3), .agileinfo-team-grid:nth-child(4), .agileinfo-team-grid:nth-child(5), .agileinfo-team-grid:nth-child(6), .agileinfo-team-grid:nth-child(10), .agileinfo-team-grid:nth-child(11), .agileinfo-team-grid:nth-child(12) {
		margin-top: .5em;
	}
	.da-thumbs li {
		width: 49%;
	}
	.contact-grid1 input[type="text"], .contact-grid1 input[type="email"] {
		width: 100%;
	}
	.contact-grid1 input[type="text"]:nth-child(2) {
		margin: .3em 0 1em;
	}
	#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
		max-width: 440px;
	}
	.payment-online-form-left form {
		padding: 1em;
	}
	.payment-online-form-left textarea {
		height: 130px;
	}
	.mfp-close {
		left: 93%;
	}
}
@media(max-width: 440px){
	.w3l-phone {
		margin-left: 8em;
	}
	.media-body.response-text-right ul li:nth-child(2) {
		margin-left: 0em;
	}
	.wthree_events_grid_right1 h3 {
		font-size: 2em;
	}
	.wthree_events_grid_right1 p {
		font-size: 1em;
		letter-spacing: 1px;
	}
	.wthree_events_grid_right1 {
		padding: 2em 1em;
	}
	.w3layouts_newsletter_right input[type="email"] {
		padding: 8px;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		padding: .75em 2.5em;
	}
	.wthree_events_grid_right1 {
		height: 344px;
	}
	.wthree_events_grid_right {
		min-height: 392px;
	}
	.pricing-grid1, .pricing-grid2, .pricing-grid3 {
		width: 80%;
	}
	.captn {
		left: 13%;
	}
	.agileinfo-team-grid:hover .captn {
		bottom: 16%;
	}
	.mfp-close {
		left: 92%;
	}
}
@media(max-width: 414px){
	.text-desc h4 {
		margin: .2em 0 .5em;
	}
	.captn {
		left: 10%;
	}
	.map iframe {
		min-height: 280px;
	}
	.contact-row {
		padding: 3em 0;
	}
	.wthree_events_grid_right {
		width: 100%;
	}
	.media-left.response-text-left {
		width: 100%;
	}
	.media-body.response-text-right {
		width: 100%;
		margin-top: 1.5em;
	}
	.media-body.response-text-right ul li:nth-child(2) {
		margin-left: 1em;
	}
}
@media(max-width: 384px){
	.agileits-banner-info p {
		letter-spacing: 1px;
	}
	.w3l-phone {
		margin-left: 6em;
	}
	.mfp-close {
		left: 90%;
	}
}
@media(max-width: 375px){
	.agileinfo-team-grid:hover .captn {
		bottom: 13%;
	}
		.captn {
		width: 133px;
		height: 113px;
	}
	.captn h4 {
		margin: .3em 0 .5em;
	}
	h3.w3_tittle {
		font-size: 2.3em;
	}
	.w3ls-social-icons-2 i {
		font-size: .9em;
		width: 40px;
		height: 40px;
		line-height: 3;
	}
	.footer {
		padding: 3em 0;
	}
	.logo-fo h2 a {
		font-size: 1.3em;
	}
}
@media(max-width: 320px){
	.w3layouts-posi-1:before, .w3layouts-posi-2:before, .w3layouts-posi-3:before, .w3layouts-posi-4:before {
		width: 4px;
		height: 47px;
	}
	.w3layouts-posi-1:after, .w3layouts-posi-2:after, .w3layouts-posi-3:after, .w3layouts-posi-4:after {
		width: 47px;
		height: 4px;
	}
	.agileits-banner-info {
		padding: 5em 0 0;
	}
	.w3layouts-posi-1:after, .w3layouts-posi-2:before, .w3layouts-posi-2:after, .w3layouts-posi-1:before {
		top: -38px;
	}
	.w3layouts-posi-1:before {
		left: 22px;
	}
	.w3layouts-posi-1:after {
		left: 26px;
	}
	.w3layouts-posi-2:before {
		right: 22px;
	}
	.w3layouts-posi-2:after {
		right: 26px;
	}
	.agileits-banner-info h4 {
		font-size: .9em;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.agileits-banner-info p {
		font-size: .8em;
	}
	.w3layouts-posi-3:before {
		left: 26px;
	}
	.w3layouts-posi-3:after {
		left: 30px;
		top: 56px;
	}
	.w3layouts-posi-4:before {
		right: 26px;
	}
	.w3layouts-posi-4:after {
		right: 28px;
		top: 56px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top.t2, .w3layouts-banner-top.t3 {
		min-height: 320px;
	}
	.thim-click-to-bottom i {
		font-size: 1em;
	}
	.callbacks_tabs {
		top: 86%;
	}
	.navbar-brand {
		font-size: .9em;
	}
	.navbar-toggle {
		padding: 8px 8px;
	}
	.navbar-toggle .icon-bar {
		width: 20px;
	}
	.w3l-phone img {
		width: 30%;
	}
	.w3l-phone {
		margin-left: 4em;
	}
	.content-agileits, .w3l-news-content, .team, .contact, .gallery, .pricing-plans, .feedback {
		padding: 2em 0;
	}
	h3.w3_tittle {
		font-size: 2.2em;
		margin-bottom: .7em;
	}
	.wel-grid h4 {
		font-size: 1.4em;
	}
	p {
		font-size: .9em;
	}
	.text-desc h4 {
		font-size: 1.4em;
		letter-spacing: 2px;
	}
	.port-7.effect-2 .text-desc {
		height: 54%;
	}
	.right-sign-grid h5 {
		font-size: 1.6em;
	}
	.services {
		padding: 2.5em 0;
	}
	.services-grids {
		width: 100%;
	}
	.services-grids:nth-child(2), .services-grids:nth-child(3), .services-grids:nth-child(4) {
		margin-top: 2em;
	}
	.wthree_events_grid_right {
		padding: 1em;
	}
	.wthree_events_grid_right1 {
		height: 320px;
	}
	.wthree_events_grid_right {
		min-height: 341px;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		padding: .6em 2.5em;
	}
	.wthree_events_grid_right1 p {
		margin: 1em 0 2em;
	}
	.w3layouts_newsletter_right input[type="email"] {
		padding: 6px;
	}
	.wthree_events_grid_right1 {
		height: 289px;
	}
	.modal-header h4 {
		font-size: 1.7em;
	}
	.modal-header h5 {
		font-size: 1.2em;
	}
	.modal-header span {
		line-height: 25px;
		font-size: .9em;
	}
	.captn {
		width: 125px;
		height: 97px;
	}
	.captn h4 {
		margin: 0;
	}
	.w3l-social ul li a {
		font-size: .9em;
	}
	.w3l-social ul li a i{
		height: 25px;
		width: 25px;
	}
	.captn {
		left: 4%;
		padding: .5em;
	}
	.da-thumbs li {
		width: 100%;
	}
	.contact-grid1 textarea {
		height: 140px;
	}
	.contact-grid1 input[type="submit"] {
		padding: .7em 3.5em;
	}
	.map iframe {
		min-height: 230px;
	}
	.address-row span.glyphicon {
		font-size: .9em;
	}
	.pricing-grid1, .pricing-grid2, .pricing-grid3 {
		width: 95%;
	}
	#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
		padding: 8px;
	}
	.payment-online-form-left input[type="text"], .payment-online-form-left input[type="email"] {
		font-size: 0.8em;
	}
	.payment-online-form-left textarea {
		height: 110px;
	}
	.payment-online-form-left h4 {
		font-size: 1.5em;
	}
	.mfp-close {
		left: 89%;
	}
}
/*--//responsive--*/

.custom-input{
    padding: 1em;
    font-size: 1em;
    border: 1px solid #000;
    outline: none;
    letter-spacing: 1px;
    margin-bottom: 2em;
    float: left;
    width: 32%;
}

.social{
    opacity: 1;
    visibility: visible;
    align-items: center;
    bottom: 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 30px;
    text-align: center;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    z-index: 1000;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;

}

.social.telegram{
    opacity: 1;
    visibility: visible;
    align-items: center;
    bottom: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 30px;
    text-align: center;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    z-index: 1000;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;

}
